/* IMPORT COLORS */
@import "Colors.css";

/* GLOBAL DEFAULTS */
* {   	all:unset;
	font-family: JetBrainsMono Nerd Font Propo;
    	font-weight: 700;
    	font-size: 22px; }

/* THE ACTUAL BAR */
window#waybar>box { background-color: @bg; padding-left: 10px; padding-right: 10px; }

/* TOOLTIPS */
tooltip 	{ background-color: @bg; border-radius: 0px 0px 10px 10px; }
tooltip label 	{ color: @fg; margin: 10px; font-size: 20px; font-weight: 700; }

/* WORKSPACES */
#workspaces {
	margin: 8px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 16px;
	box-shadow: 0px 0px 4px rgba(0, 255, 64, 0.5);
	background: linear-gradient(135deg, @grad1, @grad2); }

#workspaces button {
    	color: @bg;
    	padding: 0 10px;
	margin: 4px 4px;
	border-radius: 12px;
	transition: 0.2s cubic-bezier(0.8, 1, 0.2, 2),
	box-shadow 0s ease, background 0s ease, color 0.1s ease; }

#workspaces button.empty { color: @accent3; }
#workspaces button.focused,
#workspaces button.active {
	color: @fg2;
    	padding: 0 10px;
    	min-width: 50px;
	background: @bg;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
	text-shadow: 0px 0px 4px rgba(0, 255, 64, 0.5); }

#workspaces button:hover {
	color: @fg2;
	min-width: 60px;
	background-color: @bg;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
	text-shadow: 0px 0px 4px rgba(235, 250, 250, 0.5); }

/* PRIMARY COLOR & INTERACTIVE HOVER */
#custom-expand,
#custom-lock,
#custom-updates:hover,
#network:hover,
#bluetooth:hover,
#idle_inhibitor:hover,
#custom-screenshare:hover,
#custom-togglewaybar:hover,
#pulseaudio:hover,
#wireplumber:hover	{ color: @fg; 
			text-shadow: 0px 0px 4px rgba(0, 255, 64, 0.5)}

/* SECONDARY COLOR & INTERACTIVE HOVER */
#custom-power:hover,
#custom-reboot:hover,
#custom-logout:hover,
#custom-expand:hover,
#custom-lock:hover	{ color: @fg2;
			text-shadow: 0px 0px 4px rgba(235, 250, 250, 0.5)}

/* DARK ACCENTS & NON-INTERACTIVE HOVER */
#custom-power,
#custom-reboot,
#custom-logout,
#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover	{ color: @accent2; }

/* LIGHT ACCENTS & MODULES */
#clock,
#cpu,
#memory,
#temperature,
#custom-updates,
#network,
#bluetooth,
#idle_inhibitor,
#custom-screenshare,
#custom-togglewaybar,
#pulseaudio,
#wireplumber		{ color: @accent1; padding: 5px; transition: color 0.2s ease}

#custom-updates,
#network,
#bluetooth,
#idle_inhibitor,
#custom-screenshare,
#custom-togglewaybar,
#pulseaudio,
#wireplumber,
#custom-power,
#custom-reboot,
#custom-logout,
#custom-expand,
#custom-lock
{ transition: color 0.25s ease, font-size 0.05s ease; font-size: 100% }

#custom-updates:hover,
#network:hover,
#bluetooth:hover,
#idle_inhibitor:hover,
#custom-screenshare:hover,
#custom-togglewaybar:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-logout:hover,
#custom-expand:hover,
#custom-lock:hover
{ font-size: 120% }

#custom-expand { font-size: 110% }
#custom-expand:hover { font-size: 140% }

*:hover { font-weight: 900; }
